<div id="<%= dom_id tag %>">
  <p>
    <strong>Id:</strong>
    <%= tag.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= tag.name %>
  </p>

  <p>
    <strong>Multiplier:</strong>
    <%= tag.multiplier %>
  </p>

</div>
